/*
 * This CSS file will be automatically loaded when the block runs.
 */
.team-manager-block {
    position: relative;
    min-height: 100px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 3px;
    padding: 10px 15px;

}
.team-manager-block .team-manager-invite-form .input-group {
    flex-grow: 1;
}
.team-manager-block .team-manager-invite-form .ccm-quick-user-selector {
    display: flex;
    flex-grow: 1;
}
.team-manager-block .team-manager-invite-form .ccm-quick-user-selector .selectize-control {
    display: flex;
    flex-grow: 1;
}